.dgl-card {
    .dgl-card__avatar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: grey;
        color: white;
    }
    .dgl-card__avatar--text{
        letter-spacing: .1em;
        font-size: 1em;
        line-height: 20px;
    }
    .dgl-card__body--email,.dgl-card__body--phone{
        color: blue;
        cursor: pointer;
    }
}