.dgl-card {
    .dgl-card__avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: grey;
        color: white;
        text-align: center;
    }
    .dgl-card__body--email,.dgl-card__body--phone{
        color: blue;
        cursor: pointer;
    }
}