<section *ngIf="user()" class="dgl-card">
  <div class="dgl-card__avatar">
    <span class="dgl-card__avatar--text">{{user()?.name}}</span>
  </div>
  <div class="dgl-card__body">
    <div class="dgl-card__body--title">{{user()?.name}}</div>
    <div class="dgl-card__body--subtitle">{{user()?.company?.name}}</div>
    <div class="dgl-card__body--email">
      <a [href]="'mailto:' + user()?.email">{{user()?.email}}</a>
    </div>
    <div class="dgl-card__body--phone">
      <a [href]="'tel:' + user()?.phone">{{user()?.phone}}</a>
    </div>
  </div>

</section>
